:root {
  --background: rgb(249, 249, 249);
  --foreground: rgb(58, 58, 58);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(58, 58, 58);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(58, 58, 58);
  --primary: rgb(96, 96, 96);
  --primary-foreground: rgb(240, 240, 240);
  --secondary: rgb(222, 222, 222);
  --secondary-foreground: rgb(58, 58, 58);
  --muted: rgb(227, 227, 227);
  --muted-foreground: rgb(80, 80, 80);
  --accent: rgb(243, 234, 200);
  --accent-foreground: rgb(93, 64, 55);
  --destructive: rgb(200, 122, 122);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(116, 114, 114);
  --input: rgb(255, 255, 255);
  --ring: rgb(160, 160, 160);
  --chart-1: rgb(51, 51, 51);
  --chart-2: rgb(85, 85, 85);
  --chart-3: rgb(119, 119, 119);
  --chart-4: rgb(153, 153, 153);
  --chart-5: rgb(187, 187, 187);
  --sidebar: rgb(240, 240, 240);
  --sidebar-foreground: rgb(58, 58, 58);
  --sidebar-primary: rgb(96, 96, 96);
  --sidebar-primary-foreground: rgb(240, 240, 240);
  --sidebar-accent: rgb(243, 234, 200);
  --sidebar-accent-foreground: rgb(93, 64, 55);
  --sidebar-border: rgb(192, 192, 192);
  --sidebar-ring: rgb(160, 160, 160);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(43, 43, 43);
  --foreground: rgb(220, 220, 220);
  --card: rgb(51, 51, 51);
  --card-foreground: rgb(220, 220, 220);
  --popover: rgb(51, 51, 51);
  --popover-foreground: rgb(220, 220, 220);
  --primary: rgb(176, 176, 176);
  --primary-foreground: rgb(43, 43, 43);
  --secondary: rgb(90, 90, 90);
  --secondary-foreground: rgb(192, 192, 192);
  --muted: rgb(69, 69, 69);
  --muted-foreground: rgb(160, 160, 160);
  --accent: rgb(224, 224, 224);
  --accent-foreground: rgb(51, 51, 51);
  --destructive: rgb(217, 175, 175);
  --destructive-foreground: rgb(43, 43, 43);
  --border: rgb(79, 79, 79);
  --input: rgb(51, 51, 51);
  --ring: rgb(192, 192, 192);
  --chart-1: rgb(239, 239, 239);
  --chart-2: rgb(208, 208, 208);
  --chart-3: rgb(176, 176, 176);
  --chart-4: rgb(144, 144, 144);
  --chart-5: rgb(112, 112, 112);
  --sidebar: rgb(33, 33, 33);
  --sidebar-foreground: rgb(220, 220, 220);
  --sidebar-primary: rgb(176, 176, 176);
  --sidebar-primary-foreground: rgb(33, 33, 33);
  --sidebar-accent: rgb(224, 224, 224);
  --sidebar-accent-foreground: rgb(51, 51, 51);
  --sidebar-border: rgb(79, 79, 79);
  --sidebar-ring: rgb(192, 192, 192);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}
